<h1 id="assignment-1-probability-and-inference">Assignment 1: Probability and inference</h1>
<p>The purpose of this assignment is to familiarize you with the book and basic tools. The assignment includes 3 theoretical questions and one (very basic) programming task. As for all assignments, should be done in pairs. Submission deadline is Friday, April 10, 2020, 23:59 AOE.</p>
<p>The theoretical questions are based on exercises from Chapter 1 of the book (§1.12). A few options are given for each question, choose at your discretion. Questions on Slack #home-assignments channel or/and during the office hours are welcome.</p>
<h2 id="question-1-probability-basics">Question 1: Probability basics</h2>
<p>Exercise 1, 2, or 3. Choose one.</p>
<h2 id="question-2-probability-assignment">Question 2: Probability assignment</h2>
<p>Exercise 4, 5 or 8. Choose one. Refer to §§1.5–1.7 for background.</p>
<h2 id="question-3-conditional-probability">Question 3: Conditional probability</h2>
<p>Exercise 6 or 7. Choose one.</p>
<h2 id="question-4-programming-assignment">Question 4: Programming assignment</h2>
<p>This question must be done in both Stan and Infergo. Given a set of samples from the <a href="https://en.wikipedia.org/wiki/Gamma_distribution">Gamma distribution</a>, infer the distribution parameters.</p>
<ol type="1">
<li>Install <a href="https://pystan.readthedocs.io/en/latest/">PyStan</a></li>
<li>Install <a href="https://infergo.org/start/">Infergo</a></li>
<li>Specify the model (both PyStan and Infergo). Use the <a href="https://bitbucket.org/dtolpin/infergo/src/master/examples/hello/">Infergo model for inferring the parameters of the Normal distribution</a> and <a href="https://pystan.readthedocs.io/en/latest/optimizing.html">PyStan model for estimating the mean</a> as inspiration.</li>
<li>Generate a set of 25 samples from the Gamma distribution, using your favorite programming language.</li>
<li>Run inference (both PyStan and Infergo).</li>
<li>Display results:
<ul>
<li>PyStan — Jupyter notebook and matplotlib.</li>
<li>Infergo — gnuplot or any graphical tool of your choice.</li>
</ul></li>
</ol>
